# High School Sports Pull

This file is used to take the historical city championship data from the Calgary Senior High School Athletic Association and convert it into a `.json` file that can be used in the Data for Good - Schools Explorer project.

# Development Notes

As this project is using the scrum methodology, this is not entirely complete. Several cleaning steps are needed to be completed at this stage.  

Including (but not limited to):
    - `level`, `gender`, and `division` are inconsistent throughout. Espescially from first part to second part.  
    - School names not standardized  
    - Inconsistencies in data entry e.g. sometimes school was entered in `division` instead of `winner` if the sport had no divisions that year  
    - Some records are a tie and more than one school is named in the `winner` field

# Import Libraries

In [1]:
# Import Libraries

from docx import Document
import numpy as np
import pandas as pd

# Import Word Document in Raw Form

Obtained from Calgary Senior High School Athletic Association on their website.  
Direct link: http://www.calgaryhighschoolsports.ca/files/city_champs_list_at_june_30_2020.docx  
Retrieved Nov 4, 2022

In [85]:
hs_sports = Document('city_champs_list_at_june_30_2020.docx')

# Document Layout

This word document has historical city champion results in multiple tables. The first table has results from school years 1913-14 to 1998-99.  

The remaining tables contain the data for one year each, from school years 1999-00 to 2019-20.

The first table is the largest, and is in a seperate format than the rest of the tables. We will process this table first, process all remaining tables into another DataFrame, and finally concat the two DataFrames into one.

# Contents

1. First Large Table
2. Remaining Tables
3. Concat all Tables
4. Export results

## First Large Table

The following code uses the docx library to pull the data from the first table into Python and convert it to a Pandas Data Frame.  

As this step takes over 10 minutes to run, the result is saved as a `.cscv` file even though it is an intermediate step and the `.csv` is not needed.

In [3]:
# This pulls the first table into a Data Frame. This table is very large, and this step takes over 10 minutes
table = hs_sports.tables[0]

data = []

keys = None
for i, row in enumerate(table.rows):
    text = (cell.text for cell in row.cells)

    if i == 0:
        keys = tuple(text)
        continue
    row_data = dict(zip(keys, text))
    data.append(row_data)

In [4]:
# Convert to Pandas data drame
df = pd.DataFrame(data)

In [5]:
# Save raw data as .csv
df.to_csv('hs_sports_0_raw.csv')

In [111]:
raw_0 = pd.read_csv('hs_sports_0_raw.csv')

In [112]:
raw_0 = raw_0.drop(columns = 'Unnamed: 0')

In [113]:
raw_0 = raw_0.fillna('')

Some rows have 'Fall' or 'Spring' in the 'YEAR WON' field. We will remove this first.

In [114]:
df = raw_0.replace(to_replace = ['Fall', 'Spring'], value = '')

The table is formatted that there are empty rows when a field is repeated ( e.g. year is null except for the first row of the year. The following codes replace blank fields, with the value of the previous row that is not blank. Then extra rows without a 'WINNER' school are then filtered out.

In [115]:
df['YEAR WON'] = df['YEAR WON'].replace(to_replace = '', method = 'ffill')

In [116]:
df['SPORT'] = df['SPORT'].replace(to_replace = '', method = 'ffill')

In [117]:
df['LEVEL'] = df['LEVEL'].replace(to_replace = '', method = 'ffill')

In [118]:
df['GENDER'] = df['GENDER'].replace(to_replace = '', method = 'ffill')

In [119]:
df['DIVISION'] = df['DIVISION'].replace(to_replace = '', method = 'ffill')

In [120]:
df = df[df.WINNER != ""]

In [121]:
df

,YEAR WON,SPORT,LEVEL,GENDER,DIVISION,WINNER
0,1912-13,,Sr. Varsity,Boys,Div I,Mount Royal College
2,1913-14,Football,Sr. Varsity,Boys,Div I,Mount Royal College
4,1914-15,Football,Sr. Varsity,Boys,Div I,Central Collegiate Institute
6,1915-16,Football,Sr. Varsity,Boys,Div I,Not Awarded
8,1916-17,Football,Sr. Varsity,Boys,Div I,Not Awarded
...,...,...,...,...,...,...
1821,1998-99,Volleyball,Sr. Varsity,Boys,Div II,Bowness
1822,1998-99,Volleyball,Sr. Varsity,Girls,Div I,Sir Winston Churchill
1823,1998-99,Volleyball,Sr. Varsity,Girls,Div II,Central Memorial
1825,1998-99,Wrestling,Sr. Varsity,Boys,None,Sir Winston Churchill
1826,1998-99,Wrestling,Sr. Varsity,Girls,None,Lord Beaverbrook

## All Remaining Tables

### 1. Prepare tables for Import into Python

There was an extra column for some rows of the tables for the years 2014-15, 2015-16, 2016-17, 2017-18, and 2018-19  

I cannot figure out how to fix this in Python. I fixed this in Word by doing the following:  

Select View Gridlines from Table Layout menu, so areas with extra cells are visible  

For all years above except 2018-19:  
- Highlight extra cells  
- Delete cells with option of shift cells left  
- Select entire last column, resize entire column to same size  

For year 2018-19:  

- Highlight extra column  
- Delete Extra Column  
- Select entire last column, resize entire column to same size  
Save as 'city_champs_partial_col_removed.docx'  

Note: Method different for year 2018-2019 because table was formatted differently

### 2. Import Tables from Word doc with Standardized Columns

In [122]:
# All of the tables after the first table are formatted the same. Lets create a list of those tables.
hs_sports_v2 = Document('city_champs_partial_col_removed.docx')
yearly_tables = hs_sports_v2.tables[1:] # Set with index 1: as we want all starting with the second table

### 3. Pull tables into one Pandas DataFrame

In [123]:
# Set Starting Variables
data_2 = []
keys = None
# 1999 - 2000 was the year of the first table in this group.
year_start = 1999 
year_end = 2000
# For loop to run code for all tables 
for table in yearly_tables:
    # The year needs to be specified, as it is not in a column already.
    year_end_short = str(year_end)[2:]
    year_won = f"{year_start}-{year_end_short}" # Standardizes with format in first table.
    # Pulls the text from each cell into a dataframe
    for i, row in enumerate(table.rows):
        text = (cell.text for cell in row.cells)
        # The first row of each table is used to specify the column names
        if i == 0:
            keys = tuple(text)
            continue
        # All other rows the text is pulled into DataFrame
        row_data = dict(zip(keys, text))
        # Column for `YEAR WON` is added
        row_data['YEAR WON'] = year_won
        data_2.append(row_data)
    # Increment the year for the iteration of the next table
    year_start += 1
    year_end += 1

In [124]:
# Convert result into a Pandas DataFrame
data_2 = pd.DataFrame(data_2)

### 4. Some basic cleaning

a. Standardize column names  
b. Fill in rows with missing sport (with previous row based on format of table)  
c. Delete rows with no data (missing winner)

In [125]:
data_2['SPORT'] = data_2.SPORT.replace('\xa0', '')

In [126]:
data_2['DIVISION'] = data_2.DIVISION.replace('\xa0', '')

In [127]:
data_2['SCHOOL'] = data_2.SCHOOL.replace('\xa0', '')

In [128]:
data_2 = data_2.rename(columns = {'SCHOOL' : 'WINNER'})
data_2['SPORT'] = data_2['SPORT'].replace(to_replace = '', method = 'ffill')

In [129]:
data_2 = data_2[data_2.WINNER != ""]

## Concat all Tables

In [130]:
sports_combined = pd.concat([df, data_2], ignore_index = True)

In [131]:
sports_combined = sports_combined[sports_combined.SPORT != ''] # Removes first row which has no sport listed

## Save Output Files

Outputs saved as both `.csv` and `.json`.

In [133]:
sports_combined.to_csv('sports_combined.csv')

In [134]:
sports_combined.to_json('sports_combined.json')

In [135]:
sports_combined.to_pickle('sports.pkl')

In [136]:
sports_combined

,YEAR WON,SPORT,LEVEL,GENDER,DIVISION,WINNER
1,1913-14,Football,Sr. Varsity,Boys,Div I,Mount Royal College
2,1914-15,Football,Sr. Varsity,Boys,Div I,Central Collegiate Institute
3,1915-16,Football,Sr. Varsity,Boys,Div I,Not Awarded
4,1916-17,Football,Sr. Varsity,Boys,Div I,Not Awarded
5,1917-18,Football,Sr. Varsity,Boys,Div I,Not Awarded
...,...,...,...,...,...,...
2514,2019-20,TRACK & FIELD,NaN,NaN,Intermediate Girls,did not occur due to Covid19 school closures
2515,2019-20,TRACK & FIELD,NaN,NaN,Senior Girls,did not occur due to Covid19 school closures
2516,2019-20,TRACK & FIELD,NaN,NaN,Junior Boys,did not occur due to Covid19 school closures
2517,2019-20,TRACK & FIELD,NaN,NaN,Intermediate Boys,did not occur due to Covid19 school closures
2518,2019-20,TRACK & FIELD,NaN,NaN,Senior Boys,did not occur due to Covid19 school closures